:root {
    --color-white: #fff;
    --color-black: #000;
    --color-background: hsl(44, 75%, 66%);
    --color-orange: rgb(197, 80, 13);
    --color-brown: rgb(77, 31, 5);
    --color-active: rgb(245, 238, 230);
    --color-violet: rgb(185, 115, 185);
    --color-tomato: tomato;

    --border-radius-sm: 3px;
    --border-radius-medium: 5px;

    --spacing-ultrasmall: 5px;
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;

    --font-family-main: sans-serif;

    --font-size-header: 26px;
    --font-size: 16px;
    --font-size-subheader: 18px;

    --margin-list: 7px;

    --width-max: 1200px;

    --font-bold: 600;

    --text-shadow-brown: 0 0 2px var(--color-orange),
        0 0 40px var(--color-brown);

    --transition: 0.4s;

    --theme-default-header: rgb(249 221 118 / 93%);
    --theme-default-bgimg: url(@static/bg.jpg);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-background);
    font-family: var(--font-family-main);
    font-size: var(--font-size);
    background-image: var(--theme-default-bgimg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

.img {
    display: block;
}

.header__text {
    line-height: 1.7;
    font-size: var(--font-size-header);
    text-shadow: 0 0 2px var(--color-black);
    color: var(--theme-default-header);
    transition: color var(--transition);
}
