:root {
    --color-white: #fff;
    --color-black: #000;
    --color-background: hsl(44, 75%, 66%);
    --color-orange: rgb(197, 80, 13);
    --color-brown: rgb(77, 31, 5);
    --color-active: rgb(245, 238, 230);
    --color-violet: rgb(185, 115, 185);
    --color-tomato: tomato;

    --border-radius-sm: 3px;
    --border-radius-medium: 5px;

    --spacing-ultrasmall: 5px;
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;

    --font-family-main: sans-serif;

    --font-size-header: 26px;
    --font-size: 16px;
    --font-size-subheader: 18px;

    --margin-list: 7px;

    --width-max: 1200px;

    --font-bold: 600;

    --text-shadow-brown: 0 0 2px var(--color-orange),
        0 0 40px var(--color-brown);

    --box-shadow-white: 0 16px 24px 2px rgba(255, 255, 255, 0.02),
        0 6px 30px 5px rgba(255, 255, 255, 0.04),
        0 8px 10px -5px rgba(255, 255, 255, 0.1);

    --box-shadow-black: 0 16px 24px 2px rgba(0, 0, 0, 0.5),
        0 6px 30px 5px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

    --transition: 0.4s;

    /* THEME */
    --theme-light-header: rgb(252, 246, 228);
    --theme-dark-header: rgb(172, 78, 209);
    --theme-neitral-header: rgb(249 221 118 / 93%);
    --theme-default-header: var(--theme-neitral-header);

    --theme-light-bgimg: linear-gradient(
        to right top,
        #c99b17,
        #ce9011,
        #d38511,
        #d77a14,
        #da6e1a
    );
    --theme-dark-bgimg: linear-gradient(
        to right top,
        #6c3174,
        #2e437e,
        #004a6f,
        #004954,
        #24443e
    );
    --theme-neitral-bgimg: url(@static/bg.jpg);
    --theme-default-bgimg: var(--theme-neitral-bgimg);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-background);
    font-family: var(--font-family-main);
    font-size: var(--font-size);
    background-image: var(--theme-default-bgimg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

.img {
    display: block;
}

.header__text {
    line-height: 1.7;
    font-size: var(--font-size-header);
    text-shadow: 0 0 2px var(--color-black);
    color: var(--theme-default-header);
    transition: color var(--transition);
}

/*******************************************************************
SCROLL
/*******************************************************************/

* {
    scrollbar-color: rgb(161, 20, 243) rgba(151, 115, 165, 0.7);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(161, 20, 243);
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: rgba(151, 115, 165, 0.7);
}

::-webkit-scrollbar-corner {
    background-color: rgba(151, 115, 165, 0.7);
}
