.button {
    min-width: 100px;
    padding: 10px;
    font-size: var(--font-size-sm);
    font-family: var(--font-family-main);
    font-weight: var(--font-bold);
    border-radius: var(--border-radius);
    background: none;
    outline: none;
    transition: var(--transition);
    cursor: pointer;
}

.button:disabled,
.button:disabled:hover {
    background-color: transparent;
    color: var(--color-grey);
    border-color: var(--color-grey);
    cursor: auto;
}

.light {
    border: 2px solid var(--color-dark);
    color: var(--color-dark);
}
.light:hover {
    background: var(--color-dark);
    color: var(--color-light);
}
.dark {
    border: 2px solid var(--color-light);
    color: var(--color-light);
}
.dark:hover {
    background: var(--color-light);
    color: var(--color-dark);
}
